body {
  text-align:center;
}

/* game board table */

#board td {
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #666;
}

/* pieces are div within game table cells */

.piece {
  margin: auto;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.fall {
  animation-name: fall;
  animation-duration: 500ms;
}

@keyframes fall {
  from {
    transform: translateY(-480px);
  }
  to {
    transform: translateY(0);
  }
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

.center {
  width: 50%;
  margin: auto;
}

.center > * {
  text-align: center;
}

#game {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button for starting a new game */

#button {
  padding: 5px;
  margin: 5px;
}