body {
  text-align:center;
  margin: 10px;
}

/* game board table */

#board td {
  width: 95px;
  height: 95px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #666;
}

@media (max-width: 800px) {
  #board td {
    width: 50px;
    height: 50px;
  }
}

/* pieces are div within game table cells */

.piece {
  margin: auto;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.fall {
  animation-name: fall;
  animation-duration: 500ms;
}

@keyframes fall {
  from {
    transform: translateY(-630px);
  }
  to {
    transform: translateY(0);
  }
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

.center {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.center > * {
  text-align: center;
}

#game {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 0px;
  margin-bottom: 10px;
}

/* button for starting a new game */

#button {
  padding: 13px;
  margin: 20px 5px 5px 5px;
}